<div class="wrapper">
  <div class="top-section">
    <h1 class="title">How Much Does Your Lifestyle Influence</h1>
    <div class="icons-row">
      <div class="icon">
        <img  class="img" src="/assets/icons/energy.svg" alt="energy">
        <span>Energy</span>
      </div>
      <div class="icon">
        <div class="dna">
          <div>
            <img src="/assets/icons/dna.svg" alt="dna">
          </div>
        </div>
        <span>DNA</span>
      </div>
      <div class="icon">
        <img class="img" src="/assets/icons/diet.svg" alt="diet">
        <span>Diet</span>
      </div>
      <div class="icon">
        <img class="img" src="/assets/icons/exercise.svg" alt="exercise">
        <span>Exercise</span>
      </div>
      <div class="icon">
        <img class="img" src="/assets/icons/brainpower.svg" alt="brainpower">
        <span>Brainpower</span>
      </div>
      <div class="icon">
        <img class="img" src="/assets/icons/optimism.svg" alt="optimism">
        <span>Optimism</span>
      </div>
    </div>
    <div class="info-txt">
      <p class="info-title">
        <b>Take our free survey to find out.</b>
      </p>
      <p class="txt">
        In the end, you will receive <b>a personalized meal plan</b> tailored for your metabolism.
      </p>
    </div>
  </div>
  <div class="question-section">
    <h3 class="title">Did You Know?</h3>
    <p class="info-txt">
      That your health can be transformed in as little as six months.<br>
      1:4 people globally may have genetic imbalances in their metabolism.
    </p>
    <div class="btn-row">
      <a [routerLink]="['authorization']"
         class="btn-default no-text-selection">Let's get started</a>
    </div>
  </div>
  <div class="bottom-section">
    <h3 class="title">How it Works</h3>
    <p class="info"><i>As easy as in just 3 Steps</i></p>
    <div class="row-icons">
      <div class="icon">
        <div class="img">
          <img src="/assets/icons/clock.svg" alt="">
        </div>
        <p>Quick & Simple</p>
        <div>It will take 8 minutes to complete the survey</div>
      </div>
      <div class="icon">
        <div class="img">
          <img src="/assets/icons/profile.svg" alt="">
        </div>
        <p>Your Unique Profile</p>
        <div>Be as specific as you can for the most accurate results</div>
      </div>
      <div class="icon">
        <div class="img">
          <img src="/assets/icons/award.svg" alt="">
        </div>
        <p>An Important Clue</p>
        <div>Be sure to complete the survey</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
