<div class="main-content">
  <h4 class="title">Male testosterone production with age</h4>
  <div class="info-content">
    <div class="img-row">
      <div class="img-item">
        <img src="/assets/images/11/20.svg" alt="">
        <div>20</div>
      </div>
      <div class="img-item">
        <img src="/assets/images/11/30.svg" alt="">
        <div>30</div>
      </div>
      <div class="img-item">
        <img src="/assets/images/11/40.svg" alt="">
        <div>40</div>
      </div>
      <div class="img-item">
        <img src="/assets/images/11/50.svg" alt="">
        <div>50</div>
      </div>
      <div class="img-item">
        <img src="/assets/images/11/60.svg" alt="">
        <div>60</div>
      </div>
      <div class="img-item">
        <img src="/assets/images/11/60.svg" alt="">
        <div>70</div>
      </div>
      <div class="img-item">
        <img src="/assets/images/11/60.svg" alt="">
        <div>80</div>
      </div>
      <div class="additional-info">
        <div class="border orange">
          <div></div>
          <div>Testosterone Level</div>
        </div>
        <div class="border white">
          <div></div>
          <div>Testosterone Deficiency</div>
        </div>
      </div>
    </div>
  </div>
</div>
