<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <h1 class="question-title">{{questionItem.question[0].title}}</h1>
  <div class="option-row">
    <div class="option no-text-selection"
         *ngFor="let option of questionItem.question[0].options; let i = index">
      <div [ngClass]="(i === (questionItem.question[0].options.length - 1)) ? 'small-radio' : 'big-radio'">
        <input type="radio"
               [value]="option"
               [formControlName]="'radioOption'"
               [id]="option">
        <label [for]="option">
          <img *ngIf="i < (questionItem.question[0].options.length - 1)"
               [src]="getImagePath(i)" [alt]="option">
          <div class="btn-title">
            <div class="radio-border-content">
              <div class="radio-border-outer">
                <div class="radio-border-inner"></div>
              </div>
            </div>
            {{option}}
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="btn-row">
    <a class="btn-default next-btn" (click)="onSubmit()">
      <span>Next question</span>
      <img src="/assets/icons/btn-arrow-right.svg" alt="">
    </a>
  </div>
</form>
