.additional-info {
  margin-bottom: 28px;
  text-align: center;
  .title {
    font-size: 20px;
    line-height: 22px;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }
}
